.container {
  width: 1273px;
  margin-inline: auto;
  padding-inline: 20px;
}

/* navbar is start */

.header-nav-ul {
  width: 1500px;
  height: 100px;
  margin: 0;
  padding: 41px 30px 29px 138px;
  display: flex;
}

.nav-a-milliy {
  font-size: 20px;
  font-weight: 800;
  line-height: 27px;
  justify-content: space-between;
  color: rgba(0, 211, 253, 1);
  text-decoration-line: none;
  transition: text-shadow 0.3s linear;
}

.nav-a-milliy:hover {
  text-shadow: 3px 3px 8px;
}

.nav-li-two {
  margin-left: 290px;
}

.nav-a-menu {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  margin-left: 28px;
  text-decoration-line: none;
  color: black;
  transition: color 0.2s linear;
  transition: text-shadow 0.2s linear;
}

.nav-a-menu:hover {
  color: black;
  text-shadow: 1px 1px 1px;
}

.tg-a {
  margin-left: 290px;
}

.translator {
  font-size: 14px;
  font-weight: 400;
  margin-left: 250px;
  padding: 3px 10px;
  border-radius: 4px;
  text-decoration-line: none;
  color: white;
  background-color: rgba(0, 211, 253, 1);
  border: 3px solid rgba(0, 211, 253, 1);
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
}

.sign-up-button {
  font-size: 14px;
  font-weight: 400;
  margin-left: 2px;
  padding: 3px 10px;
  border-radius: 4px;
  text-decoration-line: none;
  color: white;
  background-color: rgba(0, 211, 253, 1);
  border: 3px solid rgba(0, 211, 253, 1);
  transition: background-color 0.2s linear;
  transition: color 0.2s linear;
}

.sign-up-button:hover {
  color: black;
  background-color: white;
}

.translator:hover {
  color: black;
  background-color: white;
}

/* navbar is finish */

/* footer is starting */
.footer {
  background-color: #151515;
}

.footer-wrapper {
  width: 100%;
  display: flex;
  column-gap: 50px;
  margin-top: 100px;
  padding-block: 20px;
  background-color: #151515;
}

.footer-wrapper-one {
  width: 205px;
}

.footer-h2 {
  color: white;
}

.footer-h2-1 {
  color: rgba(0, 211, 253, 1);
}

.footer-a {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
  color: #6e6e6e;
  display: block;
  text-decoration-line: none;
  transition: color 0.2s linear;
}

.footer-a:hover {
  color: white;
}

.footer-shadow {
  box-shadow: 20px 20px 50px white;
}

/* footer is finish */