* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

.container {
  width: 1273px;
  margin-inline: auto;
  padding-inline: 20px;
}

/* main start */
.title {
  margin-bottom: 1px;
}

.bottom-widht {
  width: 140px;
  height: 4px;
  margin-left: 164px;
  background-color: #00d3fd;
  margin-bottom: 31px;
}

.container-order {
  width: 440px;
  display: block;
  margin-block: 50px;
  margin-left: 500px;
  padding: 5px 23px 20px;
  border-radius: 16px;
  border: 2px solid rgba(0, 211, 253, 1);
  transition: background-color 0.2s linear;
}

.main-img-for-done {
  display: inline;
  width: 394px;
  height: 320px;
  object-fit: contain;
}

p {
  font-size: 16px;
  font-weight: 500;
  display: block;
  margin-block: 5px;
}

.p-one {
  font-size: 18px;
  font-weight: 700;
  color: rgba(0, 211, 253, 1);
}
/* main finish */